{% extends 'base.html' %}
{% block content %}
{% load static %}


{% include 'include/navbar.html' %}
<div>

    <!-- {% for property in property %} -->
    <!-- billboard start  -->
    <section
      id="billboard"
      style="
        background: url({% static 'images/billboard.jpg' %});
        background-repeat: no-repeat;
        background-position: center;
        height: 960px;
      "
    >
      <div class="container padding-large">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h1 class="text-capitalize text-white lh-1 my-3">
              Find Your Dream Home With Ease
            </h1>
            <p class="text-white mb-4">
              Experience seamless property transactions with our expert team. We
              provide comprehensive support for buying and selling, ensuring
              your real estate journey is smooth and successful.
            </p>
            <div class="row billboard-row rounded-pill align-items-center">
              <div class="col-lg-3">
                <select class="form-select mb-2 mb-lg-0" aria-label="Purpose">
                  <option selected>Purpose</option>
                  <option value="1">Buy</option>
                  <option value="2">Rent</option>
                  <option value="3">Sell</option>
                  <option value="4">Something else here</option>
                </select>
              </div>
              <div class="col-lg-3">
                <select class="form-select mb-2 mb-lg-0" aria-label="Location">
                  <option selected>Location</option>
                  <option value="1">Texas</option>
                  <option value="2">Miami</option>
                  <option value="3">Chicago</option>
                  <option value="4">New York</option>
                  <option value="5">Something else here</option>
                </select>
              </div>
              <div class="col-lg-3">
                <select class="form-select mb-2 mb-lg-0" aria-label="Type">
                  <option selected>Type</option>
                  <option value="1">House</option>
                  <option value="2">Appartment</option>
                  <option value="3">Villa</option>
                  <option value="4">Loft</option>
                  <option value="5">Bungalow</option>
                  <option value="3">Something else here</option>
                </select>
              </div>
              <div class="col-lg-3 p-md-0">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg billboard-search"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--About us start  -->
    <section id="about-us" class="padding-medium">
      <div class="container">
        <div class="row">
          <div class="text-center col-lg-4">
            <i class="bi bi-search text-primary display-2"></i>
            <h3 class="my-3">Easy to find</h3>
            <p>Urna, massa aliqua dui pellentesque.</p>
          </div>
          <div class="text-center col-lg-4">
            <i class="bi bi-tags text-primary display-2"></i>
            <h3 class="my-3">Affordable Prices</h3>
            <p>Acgravida in diam vitae nec mattis.</p>
          </div>
          <div class="text-center col-lg-4">
            <i class="bi bi-stopwatch text-primary display-2"></i>
            <h3 class="my-3">Quickly Process</h3>
            <p>Nec mattis lectus quam pretium amet.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Residence start  -->
    <section id="residence">
      <div class="container-fluid px-md-5">
        <h2 class="text-capitalize m-0 py-lg-5">Popular Residence</h2>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item15.jpg' %}" 
                  class="card-img-top rounded-4"
                  alt="Luxury apartment with modern kitchen"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $3,200 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Skyline Luxury Apartments</h4>
                </a>
                <p class="card-text">2450 Ocean Boulevard, Santa Monica, CA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      3 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1450 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item16.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item17.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item1.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item2.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item3.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item4.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item3.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="{% url 'property_details' property.pk %}"
                ><img
                  src="{% static 'images/item8.jpg' %}"
                  class="card-img-top rounded-4"
                  alt="image"
              /></a>
              <div class="card-body p-0">
                <h3 class="pt-4">
                  $250,00 <span class="text-muted fs-5">/month</span>
                </h3>
                <a href="{% url 'property_details' property.pk %}">
                  <h4 class="card-title">Aliva Priva Jalvin</h4>
                </a>
                <p class="card-text">1087 Pin Oak Drive, Clinton, USA</p>

                <div class="card-text border-top border-2 pt-3">
                  <ul class="d-flex">
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bed"></use>
                      </svg>
                      4 bed
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#bath"></use>
                      </svg>
                      2 bath
                    </li>
                    <li class="residence-list pe-2 fw-semibold">
                      <svg class="text-primary" width="30" height="30">
                        <use xlink:href="#area"></use>
                      </svg>
                      1203 Sqft.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="residence-btn text-center">
          <a href="{% url 'properties' %}" class="btn btn-primary btn-lg my-5"
            >View All Properties</a
          >
        </div>
      </div>
    </section>

    <!-- Help start  -->
    <section id="help" class="padding-medium">
      <div class="container-fluid px-md-5">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-md-6">
            <div class="image-holder d-flex">
              <img
                src="{% static 'images/group.png' %}"
                class="img-fluid"
                alt="Bootstrap Themes"
                loading="lazy"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="text-content ps-md-5 mt-4 mt-md-0">
              <h2 class="text-capitalize">We help people to find homes</h2>
              <p>
                Mauris orci donec blandit maecenas. Orci lorem purus porttitor
                massa consectetur. Neque, vestibulum sed varius magna et at. Eu,
                adipiscing morbi augue justo. Nibh laoreet volutpat quis velit.
                Blandit aliquam donec sed morbi congue eget lorem viverra porta
                id lobortis.
              </p>
              <ul class="list-unstyled">
                <li>
                  ✓ Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                  vero maiores assumenda!
                </li>
                <li>
                  ✓ Odit similique voluptas excepturi doloribus eius aliquid
                  neque, aut illo blanditiis.
                </li>
                <li>
                  ✓ Quae iusto excepturi quasi ipsum, non ab iure error nam
                  pariatur distinctio temporibus.
                </li>
                <li>
                  ✓ Odit similique voluptas excepturi doloribus eius aliquid
                  neque, aut illo blanditiis.
                </li>
                <li>
                  ✓ Quae iusto excepturi quasi ipsum, non ab iure error nam
                  pariatur distinctio temporibus.
                </li>
              </ul>
              <a href="contact.html" class="btn btn-primary btn-lg mt-4"
                >Get In Touch</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonial start  -->
    <section id="testimonial">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="swiper testimonial-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <svg class="text-primary" width="120" height="120">
                    <use xlink:href="#quote"></use>
                  </svg>
                  <p class="testimonial-p mt-2">
                    Massa semper non rutrum orci facilisi sit. Lectus porta quam
                    a fringilla eget viverra sem. Vulputate massa hendrerit
                    turpis gravida tempor, porttitor.
                  </p>
                  <div class="row">
                    <div class="col-md-8">
                      <p class="fw-semibold pt-3 mb-1">Elena Pravo</p>
                      <p class="text-primary opacity-75">Ceo, Upstate</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <svg class="text-primary" width="120" height="120">
                    <use xlink:href="#quote"></use>
                  </svg>
                  <p class="testimonial-p mt-2">
                    Massa semper non rutrum orci facilisi sit. Lectus porta quam
                    a fringilla eget viverra sem. Vulputate massa hendrerit
                    turpis gravida tempor, porttitor.
                  </p>
                  <div class="row">
                    <div class="col-md-8">
                      <p class="fw-semibold pt-3 mb-1">Elena Pravo</p>
                      <p class="text-primary opacity-75">Ceo, Upstate</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <svg class="text-primary" width="120" height="120">
                    <use xlink:href="#quote"></use>
                  </svg>
                  <p class="testimonial-p mt-2">
                    Massa semper non rutrum orci facilisi sit. Lectus porta quam
                    a fringilla eget viverra sem. Vulputate massa hendrerit
                    turpis gravida tempor, porttitor.
                  </p>
                  <div class="row">
                    <div class="col-md-8">
                      <p class="fw-semibold pt-3 mb-1">Elena Pravo</p>
                      <p class="text-primary opacity-75">Ceo, Upstate</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="testimonial-swiper-button col-md-3 position-absolute">
                <div class="swiper-button-prev testimonial-arrow"></div>
                <div class="arrow-divider">|</div>
                <div class="swiper-button-next testimonial-arrow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Post start  -->
    <section id="post" class="padding-medium">
      <div class="container-fluid px-md-5">
        <div
          class="section-header d-flex align-items-center justify-content-between mb-5"
        >
          <h2 class="section-title">Related Posts</h2>
          <a href="blog.html" class="btn btn-primary btn-lg px-4 me-md-2"
            >Read More</a
          >
        </div>
        <div class="row">
          <div class="col-md-4">
            <article class="post-item pb-5">
              <div class="post-image">
                <a href="blog-details.html"
                  ><img
                    src="{% static 'images/item-large3.jpg' %}"
                    class="img-fluid rounded-4"
                /></a>
              </div>
              <div class="post-content">
                <a href="#" class="text-decoration-none">
                  <p class="blog-topic text-uppercase mt-3">
                    Rent / 12 jan, 2022
                  </p>
                </a>
                <a href="blog-details.html" class="text-decoration-none">
                  <h4 class="blog-title my-3">
                    Modern vibes house, todays trending design
                  </h4>
                </a>
                <p>
                  Dignissim lacus, turpis ut suspendisse vel tellus. Turpis
                  purus, gravida orci, fringilla...
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="post-item pb-5">
              <div class="post-image">
                <a href="blog-details.html"
                  ><img
                    src="{% static 'images/item-large6.jpg' %}"
                    class="img-fluid rounded-4"
                /></a>
              </div>
              <div class="post-content">
                <a href="#" class="text-decoration-none">
                  <p class="blog-topic text-uppercase mt-3">
                    Rent / 12 jan, 2022
                  </p>
                </a>
                <a href="blog-details.html" class="text-decoration-none">
                  <h4 class="blog-title my-3">
                    Modern vibes house, todays trending design
                  </h4>
                </a>
                <p>
                  Dignissim lacus, turpis ut suspendisse vel tellus. Turpis
                  purus, gravida orci, fringilla...
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="post-item pb-5">
              <div class="post-image">
                <a href="blog-details.html"
                  ><img
                    src="{% static 'images/item-large8.jpg' %}"
                    class="img-fluid rounded-4"
                /></a>
              </div>
              <div class="post-content">
                <a href="#" class="text-decoration-none">
                  <p class="blog-topic text-uppercase mt-3">
                    Rent / 12 jan, 2022
                  </p>
                </a>
                <a href="blog-details.html" class="text-decoration-none">
                  <h4 class="blog-title my-3">
                    Modern vibes house, todays trending design
                  </h4>
                </a>
                <p>
                  Dignissim lacus, turpis ut suspendisse vel tellus. Turpis
                  purus, gravida orci, fringilla...
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- Lets start  -->
    <section
      id="start"
      class="padding-medium"
      style="
        background: url(images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 360px;
      "
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 order-md-1 d-flex">
            <h3
              class="text-capitalize text-white display-4 fw-semibold lh-1 mb-3"
            >
              Let’s simply begin the search.
            </h3>
          </div>
          <div class="col-md-7 order-md-2">
            <div class="text-content ps-md-5 mt-4 mt-md-0">
              <p class="text-white py-lg-2">
                Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi
                augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam
                donec sed morbi congue eget lorem viverra porta id lobortis.
              </p>
              <a href="contact.html" class="btn btn-primary btn-lg px-4 me-md-2"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- {% endfor %} -->
</div>

    {% include 'include/footer.html' %}


    {% endblock %}
    
