{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'include/navbar.html' %}
    
      <section id="page-billboard">
        <div class="container padding-medium-2">
        <div class="page-billboard-container text-center">
          <div class="my-3">
            <h1 class="text-capitalize lh-1 mb-4">{{ proper.property_name }}</h1>
            <div class="d-flex justify-content-center">
              <p class="fs-5">1087 Pin Oak Drive, Clinton, USA</p>
              <p class="text-primary">&nbsp; | &nbsp;</p>
              <p class="fs-5 fw-semibold">For Rent</p>
              <p class="text-primary">&nbsp; | &nbsp;</p>
              <p class="fs-5 fw-semibold">Price : $90,000 / mo</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <main class="post-grid col-md-9">
          <div class="row">
            <article class="property">
              <div class="row flex-column">
                <div class="col-md-12">
                  <!-- product-large-slider -->
                  <div
                  class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
                  >
                    <div
                    class="swiper-wrapper"
                      id="swiper-wrapper-f27c5211feaca205"
                      aria-live="off"
                      style="transition-duration: 0ms"
                    >
                      <div
                        class="swiper-slide swiper-slide-next"
                        role="group"
                        aria-label="4 / 8"
                        data-swiper-slide-index="3"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(0px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                        <img
                          src="{% static 'images/item-large7.jpg' %}"
                          alt="product-large"
                          class="img-fluid"
                        />
                      </div>
                      <div
                        class="swiper-slide"
                        role="group"
                        aria-label="5 / 8"
                        data-swiper-slide-index="4"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-966px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                        <img
                          src="{% static 'images/item-large2.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                        />
                      </div>
                      <div
                        class="swiper-slide"
                        role="group"
                        aria-label="6 / 8"
                        data-swiper-slide-index="5"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-1932px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                        <img
                          src="{% static 'images/item-large3.jpg' %}"
                          alt="product-large"
                          class="img-fluid"
                        />
                      </div>
                      <div
                      class="swiper-slide"
                        role="group"
                        aria-label="7 / 8"
                        data-swiper-slide-index="6"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-2898px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                      <img
                      src="{% static 'images/item-large4.jpg' %}"
                      alt="product-large"
                      class="img-fluid"
                      />
                    </div>
                      <div
                        class="swiper-slide"
                        role="group"
                        aria-label="8 / 8"
                        data-swiper-slide-index="7"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-3864px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                        <img
                          src="{% static 'images/item-large5.jpg' %}"
                          alt="product-large"
                          class="img-fluid"
                        />
                      </div>
                      <div
                      class="swiper-slide"
                      role="group"
                        aria-label="1 / 8"
                        data-swiper-slide-index="0"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-4830px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                      <img
                          src="{% static 'images/item-large6.jpg' %}"
                          alt="product-large"
                          class="img-fluid"
                          />
                      </div>
                      <div
                        class="swiper-slide swiper-slide-prev"
                        role="group"
                        aria-label="2 / 8"
                        data-swiper-slide-index="1"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-5796px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                      <img
                      src="{% static 'images/item-large8.jpg' %}"
                          alt="product-large"
                          class="img-fluid"
                        />
                      </div>
                      <div
                      class="swiper-slide swiper-slide-visible swiper-slide-active"
                      role="group"
                      aria-label="3 / 8"
                      data-swiper-slide-index="2"
                        style="
                          width: 966px;
                          opacity: 1;
                          transform: translate3d(-6762px, 0px, 0px);
                          transition-duration: 0ms;
                        "
                      >
                      <img
                          src="{% static 'images/item-large1.jpg' %}"
                          alt="product-large"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <span
                      class="swiper-notification"
                      aria-live="assertive"
                      aria-atomic="true"
                      ></span>
                  </div>
                  <!-- / product-large-slider -->
                </div>
                <div class="col-md-12 mt-2">
                  <!-- product-thumbnail-slider -->
                  <div
                  thumbsslider=""
                  class="swiper product-thumbnail-slider swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs"
                  >
                  <div
                  class="swiper-wrapper"
                      id="swiper-wrapper-da3a6467a31f7c7b"
                      aria-live="off"
                      style="
                        transform: translate3d(-974px, 0px, 0px);
                        transition-duration: 0ms;
                      "
                    >
                    <div
                        class="swiper-slide"
                        role="group"
                        aria-label="5 / 8"
                        data-swiper-slide-index="4"
                        style="width: 235.5px; margin-right: 8px"
                      >
                        <img
                          src="{% static 'images/item6.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                        />
                      </div>
                      <div
                      class="swiper-slide"
                      role="group"
                      aria-label="6 / 8"
                      data-swiper-slide-index="5"
                      style="width: 235.5px; margin-right: 8px"
                      >
                      <img
                      src="{% static 'images/item7.jpg' %}"
                      alt="image"
                      class="thumb-image img-fluid"
                      />
                    </div>
                    <div
                        class="swiper-slide"
                        role="group"
                        aria-label="7 / 8"
                        data-swiper-slide-index="6"
                        style="width: 235.5px; margin-right: 8px"
                      >
                        <img
                          src="{% static 'images/item10.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                        />
                      </div>
                      <div
                      class="swiper-slide swiper-slide-prev"
                      role="group"
                      aria-label="8 / 8"
                      data-swiper-slide-index="7"
                      style="width: 235.5px; margin-right: 8px"
                      >
                        <img
                          src="{% static 'images/item11.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                        />
                      </div>
                      
                      <div
                      class="swiper-slide swiper-slide-visible swiper-slide-active"
                      role="group"
                      aria-label="1 / 8"
                      data-swiper-slide-index="0"
                      style="width: 235.5px; margin-right: 8px"
                      >
                      <img
                      src="{% static 'images/item12.jpg' %}"
                      alt="image"
                      class="thumb-image img-fluid"
                      />
                      </div>
                      <div
                        class="swiper-slide swiper-slide-visible swiper-slide-next"
                        role="group"
                        aria-label="2 / 8"
                        data-swiper-slide-index="1"
                        style="width: 235.5px; margin-right: 8px"
                      >
                        <img
                          src="{% static 'images/item14.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                          />
                        </div>
                        <div
                        class="swiper-slide swiper-slide-visible swiper-slide-thumb-active"
                        role="group"
                        aria-label="3 / 8"
                        data-swiper-slide-index="2"
                        style="width: 235.5px; margin-right: 8px"
                      >
                        <img
                          src="{% static 'images/item9.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                        />
                      </div>
                      <div
                        class="swiper-slide swiper-slide-visible"
                        role="group"
                        aria-label="4 / 8"
                        data-swiper-slide-index="3"
                        style="width: 235.5px; margin-right: 8px"
                      >
                        <img
                          src="{% static 'images/item13.jpg' %}"
                          alt="image"
                          class="thumb-image img-fluid"
                        />
                      </div>
                    </div>
                    <span
                    class="swiper-notification"
                      aria-live="assertive"
                      aria-atomic="true"
                      ></span>
                    </div>
                    <!-- / product-thumbnail-slider -->
                  </div>
                </div>
                
                <div class="post-content py-5">
                  <div class="overview my-5">
                    <h3 class="fs-2 mb-4">Property Overview</h3>
                    
                    <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-1"
                    >
                    <div class="col d-flex align-items-start">
                      <iconify-icon
                      icon="material-symbols:bed-outline"
                      class="property-icon border p-3"
                      ></iconify-icon>
                      <div class="ms-4">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
                          Bedroom
                        </h3>
                        <p>7</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <iconify-icon
                        icon="material-symbols:shower-outline"
                        class="property-icon border p-3"
                      ></iconify-icon>
                      <div class="ms-4">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
                          Bath
                        </h3>
                        <p>5</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <iconify-icon
                        icon="fluent-mdl2:date-time-2"
                        class="property-icon border p-3"
                      ></iconify-icon>
                      <div class="ms-4">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
                          Year Built
                        </h3>
                        <p>2023</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <iconify-icon
                        icon="material-symbols:garage-home-outline"
                        class="property-icon border p-3"
                      ></iconify-icon>
                      <div class="ms-4">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
                          Garage
                        </h3>
                        <p>2</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <iconify-icon
                      icon="pixelarticons:drop-area"
                        class="property-icon border p-3"
                        ></iconify-icon>
                      <div class="ms-4">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
                          Sqft
                        </h3>
                        <p>1800</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <iconify-icon
                        icon="teenyicons:search-property-outline"
                        class="property-icon border p-3"
                      ></iconify-icon>
                      <div class="ms-4">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
                          Property Type
                        </h3>
                        <p>Villa</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="price my-5">
                  <h3 class="fs-2 mb-4">Price Details</h3>
                  <p>
                    <span class="fw-bold">Rent/Month :</span> 90,000
                    (negotiable)
                  </p>
                  <p>
                    <span class="fw-bold">Service Charge :</span> 8,000/= Tk per
                    month, subject to change
                  </p>
                  <p>
                    <span class="fw-bold">Security Deposit :</span> 3 month’s
                    rent
                  </p>
                  <p>
                    <span class="fw-bold">Flat Release Policy :</span> 3 months
                    earlier notice required
                  </p>
                </div>
                <hr />
                <div class="details my-5">
                  <h3 class="fs-2 mb-4">Property Details</h3>
                  <p>
                    <span class="fw-bold">Address &amp; Area :</span> Los
                    Angeles, Los Angeles, 10425 Tabor St
                  </p>
                  <p><span class="fw-bold">Flat Size :</span> 3000 Sq Feet.</p>
                  <p>
                    <span class="fw-bold">Floor : </span> (6 storied Building )
                    (South Facing Unit)
                  </p>
                  <p>
                    <span class="fw-bold">Room Category : </span>3 Large Bed
                    Rooms with 3 Verandas, Spacious Drawing, Dining &amp; Family
                    Living Room, Highly Decorated Kitchen with Store Room and
                    Servant room with attached Toilet.
                  </p>
                  <p>
                    <span class="fw-bold">Facilities :</span> 1 Modern Lift, All
                    Modern Amenities &amp; Semi Furnished.
                  </p>
                  <p>
                    <span class="fw-bold">Additional Facilities : </span>
                    Electricity with full generator load, Central Gas Geyser, 2
                    Car Parking with 1 Driver’s Accommodation, Community
                    Conference Hall, Roof Top Beautified Garden and Grassy
                    Ground, Cloth Hanging facility with CC camera
                  </p>
                </div>
                <hr />
                <div class="feature my-5">
                  <h3 class="fs-2 mb-4">Features &amp; Amenities</h3>
                  <div class="d-flex">
                    <ul class="ms-4 me-5">
                      <li>Air Conditioning</li>
                      <li>Barbeque</li>
                      <li>Dryer</li>
                      <li>Gym</li>
                      <li>Lawn</li>
                      <li>Microwave</li>
                    </ul>
                    <ul class="ms-5">
                      <li>Outdoor Shower</li>
                      <li>Refrigerator</li>
                      <li>Swimming Pool</li>
                      <li>TV Cable</li>
                      <li>Washer</li>
                      <li>WiFi6</li>
                    </ul>
                  </div>
                </div>
                <hr />
                <div class="address my-5">
                  <h3 class="fs-2 mb-4">Address</h3>
                  <div class="d-flex">
                    <div class="me-5">
                      <p>
                        <span class="fw-bold">Address :</span> 10425 Tabor St
                      </p>
                      <p><span class="fw-bold">City :</span> Los Angeles</p>
                      <p>
                        <span class="fw-bold">State/county :</span> California
                      </p>
                    </div>
                    <div class="ms-5">
                      <p>
                        <span class="fw-bold">Zip/Postal Code :</span> 90034
                      </p>
                      <p><span class="fw-bold">Area :</span> Brookside</p>
                      <p>
                        <span class="fw-bold">Country :</span> United States
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <div id="post-author-info" class="border-top border-bottom py-5">
              <div class="row d-flex align-items-center">
                <div class="col-md-3">
                  <div class="image-holder">
                    <a itemprop="url" href="#">
                      <img
                      src="{% static 'images/author-image.jpg' %}"
                      class="img-fluid"
                      alt="author"
                      />
                    </a>
                  </div>
                </div>


                <div class="col-md-8">
                  <div class="post-author-content">
                    <div class="element-title text-uppercase">
                      <a itemprop="url" href="#">Jenney Younes</a>
                    </div>
                    <span class="author-position">Owner</span>
                    <p>
                      Nascetur libero elementum adipiscing mauris maecenas et
                      magna. Etiam nec, rutrum a diam lacus, nunc integer etiam.
                      Mattis pulvinar non viverra donec pellentesque. Odio mi
                      consequat libero dolor. Porta ut diam lobortis eget leo,
                      lectus. Tortor diam dignissim amet, in interdum aliquet.
                      Magnis dictum et eros purus fermentum, massa ullamcorper
                      sit sollicitudin.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <section id="post-comment">
              <div class="container">
                <div class="row my-5">
                  <div class="comments-wrap">
                    <h3 class="text-uppercase mb-5">
                      <span class="count">3</span> Comments
                    </h3>
                    <div class="comment-list">
                      <article class="comment-item pb-3 row">
                        <div class="col-md-1">
                          <img
                          src="{% static 'images/commentor-item1.jpg' %}"
                          alt="default"
                          class="commentor-image img-fluid rounded-circle"
                          />
                        </div>
                        <div class="col-md-10">
                          <div class="author-post mb-4">
                            <div
                            class="comment-meta text-uppercase d-flex gap-3 text-black"
                            >
                              <div class="author-name text-white">
                                Lufy carlson
                              </div>
                              <span class="meta-date text-white-50"
                                >Jul 10</span
                              >
                            </div>
                            <p>
                              Tristique tempis condimentum diam done
                              ullancomroer sit element henddg sit he
                              consequert.Tristique tempis condimentum diam done
                              ullancomroer sit element henddg sit he consequert.
                            </p>
                            <div class="comments-reply border-animation">
                              <a href="#">
                                <i class="icon icon-mail-reply"></i>Reply
                              </a>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="comment-item pb-3 row child-comments">
                        <div class="col-md-1">
                          <img
                            src="{% static 'images/commentor-item2.jpg' %}"
                            alt="default"
                            class="commentor-image img-fluid rounded-circle"
                          />
                        </div>
                        <div class="col-md-10">
                          <div class="author-post mb-4">
                            <div
                              class="comment-meta text-uppercase d-flex gap-3 text-black"
                            >
                              <div class="author-name text-white">
                                Lora leigh
                              </div>
                              <span class="meta-date text-white-50"
                                >Jul 10</span
                              >
                            </div>
                            <p>
                              Tristique tempis condimentum diam done
                              ullancomroer sit element henddg sit he
                              consequert.Tristique tempis condimentum diam done
                              ullancomroer sit element henddg sit he consequert.
                            </p>
                            <div class="comments-reply border-animation">
                              <a href="#">
                                <i class="icon icon-mail-reply"></i>Reply
                              </a>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="comment-item pb-3 row">
                        <div class="col-md-1">
                          <img
                            src="{% static 'images/commentor-item3.jpg' %}"
                            alt="default"
                            class="commentor-image img-fluid rounded-circle"
                          />
                        </div>
                        <div class="col-md-10">
                          <div class="author-post mb-4">
                            <div
                              class="comment-meta text-uppercase d-flex gap-3 text-black"
                            >
                              <div class="author-name text-white">
                                Natalie dormer
                              </div>
                              <span class="meta-date text-white-50"
                                >Jul 10</span
                              >
                            </div>
                            <p>
                              Tristique tempis condimentum diam done
                              ullancomroer sit element henddg sit he
                              consequert.Tristique tempis condimentum diam done
                              ullancomroer sit element henddg sit he consequert.
                            </p>
                            <div class="comments-reply border-animation">
                              <a href="#">
                                <i class="icon icon-mail-reply"></i>Reply
                              </a>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                  <div class="comment-respond my-5">
                    <h3 class="text-uppercase">Leave a Comment</h3>
                    <p>
                      Your email address will not be published. Required fields
                      are marked *
                    </p>
                    <form method="post" class="form-group padding-small">
                      <div class="row">
                        <div class="col-lg-12 mb-3">
                          <textarea
                            class="form-control ps-3 pt-3"
                            id="comment"
                            name="comment"
                            placeholder="Write your comment here *"
                          ></textarea>
                        </div>
                        <div class="col-lg-6 mb-3">
                          <input
                            class="form-control ps-3"
                            type="text"
                            name="author"
                            id="author"
                            placeholder="Write your full name here *"
                          />
                        </div>
                        <div class="col-lg-6">
                          <input
                            class="form-control ps-3"
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Write your e-mail address *"
                          />
                        </div>
                        <div class="col-lg-12">
                          <label class="d-flex align-items-center">
                            <input type="checkbox" class="checked-box me-2" />
                            <span class="label-body"
                              >Save my name, email, and website in this browser
                              for the next time.</span
                            >
                          </label>
                        </div>
                        <div class="col-lg-12 mt-3">
                          <button
                            class="btn btn-lg btn-primary text-uppercase btn-rounded-none w-100"
                            type="submit"
                          >
                            Post Comment
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>
        <aside class="col-md-3">
          <form id="form" class="form-group flex-wrap border rounded-4 p-3">
            <h2 class="fs-2 text-uppercase text-black my-3">Book Now</h2>
            <div class="form-input col-lg-12 my-4">
              <label
                for="exampleInputEmail1"
                class="form-label fs-6 text-uppercase fw-bold text-black"
                >Full Name</label
              >
              <input
                type="text"
                name="email"
                placeholder="Write Your Name Here"
                class="form-control ps-3"
              />
            </div>
            <div class="form-input col-lg-12 my-4">
              <label
                for="exampleInputEmail1"
                class="form-label fs-6 text-uppercase fw-bold text-black"
                >Email Address</label
              >
              <input
                type="text"
                name="email"
                placeholder="Write Your Email Here"
                class="form-control ps-3"
              />
            </div>
            <div class="col-lg-12 my-4">
              <label
                for="exampleInputEmail1"
                class="form-label fs-6 text-uppercase fw-bold text-black"
                >Phone Number</label
              >
              <input
                type="text"
                name="email"
                placeholder="Phone Number"
                class="form-control ps-3"
              />
            </div>
            <div class="col-lg-12 my-4">
              <label
                for="exampleInputEmail1"
                class="form-label fs-6 text-uppercase fw-bold text-black"
                >Family Members</label
              >
              <input
                type="number"
                value="1"
                name="quantity"
                class="form-control ps-3"
              />
            </div>
            <div class="col-lg-12 my-4">
              <label
                for="exampleInputEmail1"
                class="form-label fs-6 text-uppercase fw-bold text-black"
                >Children</label
              >
              <input
                type="number"
                value="1"
                name="quantity"
                class="form-control ps-3"
              />
            </div>
            <div class="col-lg-12 my-4">
              <label
                for="exampleInputEmail1"
                class="form-label fs-6 text-uppercase fw-bold text-black"
                >Your Message</label
              >
              <textarea
                placeholder="Write Your Message Here"
                class="form-control ps-3"
                rows="8"
              ></textarea>
            </div>
            <div class="d-grid mb-3">
              <button
              class="btn btn-primary btn-lg text-uppercase btn-rounded-none"
              >
                Book
              </button>
            </div>
          </form>
          <div class="border rounded-4 p-3 mt-5">
            <h2 class="fs-2 text-uppercase text-black mt-3 mb-4">Our Agents</h2>
            <article class="comment-item align-items-center row mb-4">
              <div class="col-md-3">
                <a href="agents.html">
                  <img
                  src="{% static 'images/team4.jpg' %}"
                    alt="default"
                    class="commentor-image img-fluid rounded-circle"
                  />
                </a>
              </div>
              <div class="col-md-9">
                <a href="agents.html">
                  <h5 class="element-title text-black text-uppercase">
                    Sandey Opwers
                  </h5>
                </a>
                <h6 class="heading-color text-black">Real estate broker</h6>
                <p class="text-black m-0">+1650-243-0000</p>
              </div>
            </article>
            <article class="comment-item pb-3 align-items-center row mb-4">
              <div class="col-md-3">
                <a href="agents.html">
                  <img
                  src="{% static 'images/team5.jpg' %}"
                    alt="default"
                    class="commentor-image img-fluid rounded-circle"
                  />
                </a>
              </div>
              <div class="col-md-9">
                <a href="agents.html">
                  <h5 class="element-title text-black text-uppercase">
                    Lorey Denver
                  </h5>
                </a>
                <h6 class="heading-color text-black">Sales Excutive</h6>
                <p class="text-black m-0">+1650-243-0000</p>
              </div>
            </article>
            <div class="d-grid mb-3">
              <a
              href="agents.html"
              class="btn btn-primary btn-lg text-uppercase btn-rounded-none"
              >Contact Now</a
              >
            </div>
          </div>
        </aside>
      </div>
    </div>

    <section
      id="start"
      class="padding-medium"
      style="
        background: url(images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 360px;
      "
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 order-md-1 d-flex">
            <h3
              class="text-capitalize text-white display-4 fw-semibold lh-1 mb-3"
            >
              Let’s simply begin the search.
            </h3>
          </div>
          <div class="col-md-7 order-md-2">
            <div class="text-content ps-md-5 mt-4 mt-md-0">
              <p class="text-white py-lg-2">
                Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi
                augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam
                donec sed morbi congue eget lorem viverra porta id lobortis.
              </p>
              <a href="contact.html" class="btn btn-primary btn-lg px-4 me-md-2"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

   
    {% include 'include/footer.html' %}
    
 {% endblock %}
